.dot {
    width: 14px;
    height: 14px;
    background-color: #111;
    border-radius: 50%;
    display: inline-block;
}

.fs-ch-2 {
    font-size: 2ch;
}

.flex-item {
    padding: 10px
}

.bg-img-section-1 {
    background: url("public/images/section-1/top-right-bg.svg") no-repeat 70px 0,
    url("public/images/section-1/top-left.svg") no-repeat left -75px,
    url("public/images/section-1/nail-lounge-logo.webp") no-repeat 10% 15px;
    background-size: contain, contain, 111px 34px;
}

@media (min-width: 640px) {
    .flex-item {
        flex: 0 0 50%;
    }

    .bg-img-section-1 {
        background: url("public/images/section-1/top-right-bg.svg") no-repeat 150%,
        url("public/images/section-1/top-left.svg") no-repeat -10% -150px,
        url("public/images/section-1/nail-lounge-logo.webp") no-repeat 20% 30px;
        background-size: 80% 100%, contain, 166px 51px;
    }
}

@media (min-width: 1536px) {
    .bg-img-section-1 {
        background: url("public/images/section-1/top-right-bg.svg") no-repeat right,
        url("public/images/section-1/top-left.svg") no-repeat -10% -150px,
        url("public/images/section-1/nail-lounge-logo.webp") no-repeat 20% 30px;
        background-size: contain, contain, 166px 51px;
    }
}
