.dot {
    width: 14px;
    height: 14px;
    background-color: #111;
    border-radius: 50%;
    display: inline-block;
}

.fs-ch-2 {
    font-size: 2ch;
}

.flex-item {
    padding: 10px
}

.bg-img-section-1 {
    background: url("public/images/section-1/bg-dark.svg") no-repeat 97px 0,
    url("public/images/section-1/bg-light.svg") no-repeat 115px 0,
    url("public/images/section-1/nail-lounge-logo.png") no-repeat 10% 15px,
    url("public/images/section-1/top-left.svg") no-repeat left -75px;
    background-size: contain, contain, 111px 34px;
}

@media (min-width: 640px) {
    .flex-item {
        flex: 0 0 50%;
    }

    .bg-img-section-1 {
        background: url("public/images/section-1/bg-dark.svg") no-repeat 108% 28%,
        url("public/images/section-1/bg-light.svg") no-repeat 162% 24%;
        background-size: contain;
    }
}
