.thumb {
    width: 128px;
    height: 128px;
    padding: 2px;
    border: 2px solid #fff;
}

.img {
    width: 100%;
    height: 100%;
}

.modal-img {
    height: 250px;
    background: radial-gradient(99.93% 141.01% at 0.12% 188.04%, #1B6DD3 0%, #0A2157 100%);
    border-radius: 38px;
}

.btn-check-circle {
    position: absolute;
    width: 38px;
    height: 38px;
    right: 0;

    background: #4C38AD;
    border: 2px solid #FFFFFF;
    box-shadow: 0 4px 4px rgba(76, 56, 173, 0.25);
}

@media (min-width: 640px) {
    .thumb {
        width: 200px;
        height: 200px;
    }

    .modal-img {
        height: 250px;
        border-radius: 38px;
    }

    .btn-check-circle {
        position: absolute;
        width: 38px;
        height: 38px;
        right: 0;

        background: #4C38AD;
        border: 2px solid #FFFFFF;
        box-shadow: 0 4px 4px rgba(76, 56, 173, 0.25);
    }
}
